:root {
  
  
  /* Серые цвета - базовая палитра */
  --color-gray-01: hsl(215, 15%, 1%);
  --color-gray-02: hsl(215, 15%, 2%);
  --color-gray-03: hsl(215, 15%, 3%);
  --color-gray-04: hsl(215, 15%, 4%);
  --color-gray-05: hsl(215, 15%, 5%);
  --color-gray-06: hsl(215, 15%, 6%);
  --color-gray-07: hsl(215, 15%, 7%);
  --color-gray-08: hsl(215, 15%, 8%);
  --color-gray-09: hsl(215, 15%, 9%);
  --color-gray-10: hsl(215, 15%, 10%);
  --color-gray-15: hsl(215, 15%, 15%);
  --color-gray-20: hsl(215, 15%, 20%);
  --color-gray-25: hsl(215, 15%, 25%);
  --color-gray-30: hsl(215, 15%, 30%);
  --color-gray-35: hsl(215, 15%, 35%);
  --color-gray-40: hsl(215, 15%, 40%);
  --color-gray-45: hsl(215, 15%, 45%);
  --color-gray-50: hsl(215, 15%, 50%);
  --color-gray-55: hsl(215, 15%, 55%);
  --color-gray-60: hsl(215, 15%, 60%);
  --color-gray-65: hsl(215, 15%, 65%);
  --color-gray-70: hsl(215, 15%, 70%);
  --color-gray-75: hsl(215, 15%, 75%);
  --color-gray-80: hsl(215, 15%, 80%);
  --color-gray-85: hsl(215, 15%, 85%);
  --color-gray-90: hsl(215, 15%, 90%);
  --color-gray-91: hsl(215, 15%, 91%);
  --color-gray-92: hsl(215, 15%, 92%);
  --color-gray-93: hsl(215, 15%, 93%);
  --color-gray-94: hsl(215, 15%, 94%);
  --color-gray-95: hsl(215, 15%, 95%);
  --color-gray-96: hsl(215, 15%, 96%);
  --color-gray-97: hsl(215, 15%, 97%);
  --color-gray-98: hsl(215, 15%, 98%);
  --color-gray-99: hsl(215, 15%, 99%);

  /* Красные цвета */
  --color-red-01: hsl(0, 100%, 1%);
  --color-red-02: hsl(0, 100%, 2%);
  --color-red-03: hsl(0, 100%, 3%);
  --color-red-04: hsl(0, 100%, 4%);
  --color-red-05: hsl(0, 100%, 5%);
  --color-red-06: hsl(0, 100%, 6%);
  --color-red-07: hsl(0, 100%, 7%);
  --color-red-08: hsl(0, 100%, 8%);
  --color-red-09: hsl(0, 100%, 9%);
  --color-red-10: hsl(0, 100%, 10%);
  --color-red-15: hsl(0, 100%, 15%);
  --color-red-20: hsl(0, 100%, 20%);
  --color-red-25: hsl(0, 100%, 25%);
  --color-red-30: hsl(0, 100%, 30%);
  --color-red-35: hsl(0, 100%, 35%);
  --color-red-40: hsl(0, 100%, 40%);
  --color-red-45: hsl(0, 100%, 45%);
  --color-red-50: hsl(0, 100%, 50%);
  --color-red-55: hsl(0, 100%, 55%);
  --color-red-60: hsl(0, 100%, 60%);
  --color-red-65: hsl(0, 100%, 65%);
  --color-red-70: hsl(0, 100%, 70%);
  --color-red-75: hsl(0, 100%, 75%);
  --color-red-80: hsl(0, 100%, 80%);
  --color-red-85: hsl(0, 100%, 85%);
  --color-red-90: hsl(0, 100%, 90%);
  --color-red-95: hsl(0, 100%, 95%);
  --color-red-98: hsl(0, 100%, 98%);

  /* Синие цвета */
  --color-blue-01: hsl(215, 100%, 1%);
  --color-blue-02: hsl(215, 100%, 2%);
  --color-blue-03: hsl(215, 100%, 3%);
  --color-blue-04: hsl(215, 100%, 4%);
  --color-blue-05: hsl(215, 100%, 5%);
  --color-blue-06: hsl(215, 100%, 6%);
  --color-blue-07: hsl(215, 100%, 7%);
  --color-blue-08: hsl(215, 100%, 8%);
  --color-blue-09: hsl(215, 100%, 9%);
  --color-blue-10: hsl(215, 100%, 10%);
  --color-blue-15: hsl(215, 100%, 15%);
  --color-blue-20: hsl(215, 100%, 20%);
  --color-blue-25: hsl(215, 100%, 25%);
  --color-blue-30: hsl(215, 100%, 30%);
  --color-blue-35: hsl(215, 100%, 35%);
  --color-blue-40: hsl(215, 100%, 40%);
  --color-blue-45: hsl(215, 100%, 45%);
  --color-blue-50: hsl(215, 100%, 50%);
  --color-blue-55: hsl(215, 100%, 55%);
  --color-blue-60: hsl(215, 100%, 60%);
  --color-blue-65: hsl(215, 100%, 65%);
  --color-blue-70: hsl(215, 100%, 70%);
  --color-blue-75: hsl(215, 100%, 75%);
  --color-blue-80: hsl(215, 100%, 80%);
  --color-blue-85: hsl(215, 100%, 85%);
  --color-blue-90: hsl(215, 100%, 90%);
  --color-blue-95: hsl(215, 100%, 95%);
  --color-blue-98: hsl(215, 100%, 98%);

  /* Зеленые цвета */
  --color-green-01: hsl(120, 100%, 1%);
  --color-green-02: hsl(120, 100%, 2%);
  --color-green-03: hsl(120, 100%, 3%);
  --color-green-04: hsl(120, 100%, 4%);
  --color-green-05: hsl(120, 100%, 5%);
  --color-green-06: hsl(120, 100%, 6%);
  --color-green-07: hsl(120, 100%, 7%);
  --color-green-08: hsl(120, 100%, 8%);
  --color-green-09: hsl(120, 100%, 9%);
  --color-green-10: hsl(120, 100%, 10%);
  --color-green-15: hsl(120, 100%, 15%);
  --color-green-20: hsl(120, 100%, 20%);
  --color-green-25: hsl(120, 100%, 25%);
  --color-green-30: hsl(120, 100%, 30%);
  --color-green-35: hsl(120, 100%, 35%);
  --color-green-40: hsl(120, 100%, 40%);
  --color-green-45: hsl(120, 100%, 45%);
  --color-green-50: hsl(120, 100%, 50%);
  --color-green-55: hsl(120, 100%, 55%);
  --color-green-60: hsl(120, 100%, 60%);
  --color-green-65: hsl(120, 100%, 65%);
  --color-green-70: hsl(120, 100%, 70%);
  --color-green-75: hsl(120, 100%, 75%);
  --color-green-80: hsl(120, 100%, 80%);
  --color-green-85: hsl(120, 100%, 85%);
  --color-green-90: hsl(120, 100%, 90%);
  --color-green-95: hsl(120, 100%, 95%);
  --color-green-98: hsl(120, 100%, 98%);

  /* Желтые цвета */
  --color-yellow-01: hsl(50, 100%, 1%);
  --color-yellow-02: hsl(50, 100%, 2%);
  --color-yellow-03: hsl(50, 100%, 3%);
  --color-yellow-04: hsl(50, 100%, 4%);
  --color-yellow-05: hsl(50, 100%, 5%);
  --color-yellow-06: hsl(50, 100%, 6%);
  --color-yellow-07: hsl(50, 100%, 7%);
  --color-yellow-08: hsl(50, 100%, 8%);
  --color-yellow-09: hsl(50, 100%, 9%);
  --color-yellow-10: hsl(50, 100%, 10%);
  --color-yellow-15: hsl(50, 100%, 15%);
  --color-yellow-20: hsl(50, 100%, 20%);
  --color-yellow-25: hsl(50, 100%, 25%);
  --color-yellow-30: hsl(50, 100%, 30%);
  --color-yellow-35: hsl(50, 100%, 35%);
  --color-yellow-40: hsl(50, 100%, 40%);
  --color-yellow-45: hsl(50, 100%, 45%);
  --color-yellow-50: hsl(50, 100%, 50%);
  --color-yellow-55: hsl(50, 100%, 55%);
  --color-yellow-60: hsl(50, 100%, 60%);
  --color-yellow-65: hsl(50, 100%, 65%);
  --color-yellow-70: hsl(50, 100%, 70%);
  --color-yellow-75: hsl(50, 100%, 75%);
  --color-yellow-80: hsl(50, 100%, 80%);
  --color-yellow-85: hsl(50, 100%, 85%);
  --color-yellow-90: hsl(50, 100%, 90%);
  --color-yellow-95: hsl(50, 100%, 95%);
  --color-yellow-98: hsl(50, 100%, 98%);

  /* Оранжевые цвета */
  --color-orange-01: hsl(30, 100%, 1%);
  --color-orange-02: hsl(30, 100%, 2%);
  --color-orange-03: hsl(30, 100%, 3%);
  --color-orange-04: hsl(30, 100%, 4%);
  --color-orange-05: hsl(30, 100%, 5%);
  --color-orange-06: hsl(30, 100%, 6%);
  --color-orange-07: hsl(30, 100%, 7%);
  --color-orange-08: hsl(30, 100%, 8%);
  --color-orange-09: hsl(30, 100%, 9%);
  --color-orange-10: hsl(30, 100%, 10%);
  --color-orange-15: hsl(30, 100%, 15%);
  --color-orange-20: hsl(30, 100%, 20%);
  --color-orange-25: hsl(30, 100%, 25%);
  --color-orange-30: hsl(30, 100%, 30%);
  --color-orange-35: hsl(30, 100%, 35%);
  --color-orange-40: hsl(30, 100%, 40%);
  --color-orange-45: hsl(30, 100%, 45%);
  --color-orange-50: hsl(30, 100%, 50%);
  --color-orange-55: hsl(30, 100%, 55%);
  --color-orange-60: hsl(30, 100%, 60%);
  --color-orange-65: hsl(30, 100%, 65%);
  --color-orange-70: hsl(30, 100%, 70%);
  --color-orange-75: hsl(30, 100%, 75%);
  --color-orange-80: hsl(30, 100%, 80%);
  --color-orange-85: hsl(30, 100%, 85%);
  --color-orange-90: hsl(30, 100%, 90%);
  --color-orange-95: hsl(30, 100%, 95%);
  --color-orange-98: hsl(30, 100%, 98%);

  /* Фиолетовые цвета */
  --color-purple-01: hsl(270, 100%, 1%);
  --color-purple-02: hsl(270, 100%, 2%);
  --color-purple-03: hsl(270, 100%, 3%);
  --color-purple-04: hsl(270, 100%, 4%);
  --color-purple-05: hsl(270, 100%, 5%);
  --color-purple-06: hsl(270, 100%, 6%);
  --color-purple-07: hsl(270, 100%, 7%);
  --color-purple-08: hsl(270, 100%, 8%);
  --color-purple-09: hsl(270, 100%, 9%);
  --color-purple-10: hsl(270, 100%, 10%);
  --color-purple-15: hsl(270, 100%, 15%);
  --color-purple-20: hsl(270, 100%, 20%);
  --color-purple-25: hsl(270, 100%, 25%);
  --color-purple-30: hsl(270, 100%, 30%);
  --color-purple-35: hsl(270, 100%, 35%);
  --color-purple-40: hsl(270, 100%, 40%);
  --color-purple-45: hsl(270, 100%, 45%);
  --color-purple-50: hsl(270, 100%, 50%);
  --color-purple-55: hsl(270, 100%, 55%);
  --color-purple-60: hsl(270, 100%, 60%);
  --color-purple-65: hsl(270, 100%, 65%);
  --color-purple-70: hsl(270, 100%, 70%);
  --color-purple-75: hsl(270, 100%, 75%);
  --color-purple-80: hsl(270, 100%, 80%);
  --color-purple-85: hsl(270, 100%, 85%);
  --color-purple-90: hsl(270, 100%, 90%);
  --color-purple-95: hsl(270, 100%, 95%);
  --color-purple-98: hsl(270, 100%, 98%);

  
}

