.card-body {
  padding-top: 1px;
  padding-bottom: 2px;
}

.card-title {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-card-text);
  text-decoration: none;
}

.card-title:hover {
  color: var(--color-card-text-hover);
}
