.card-avatars {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 2px;
}

.card-avatar {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: var(--color-bg-subtle);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--color-text-uno);
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px var(--color-text-white);
  position: relative;
}

.card-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-avatar[data-type="blacky"] {
  background-color: var(--color-bg-black);
  color: var(--color-text-white);
}

.card-avatar[data-type="jessica"],
.card-avatar[data-type="james"] {
  background-color: var(--color-avatar-blue);
  color: var(--color-text-white);
}

.card-avatar[data-type="avatar-vaiz"] {
  background-color: var(--color-bg-subtle);
  color: var(--color-text-uno);
}

.card-avatar-no-assignee {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-avatar-no-assignee svg {
  width: 100%;
  height: 100%;
  display: block;
}

