.card-subtasks {
  padding: 2px 4px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  margin-top: 3px;
}

.card-subtasks-open {
  padding: 2px 4px;
  background-color: var(--color-bg-content-header);
}

.card-subtasks-open:not(.card-subtasks-hover) {
  background-color: transparent;
}


/* Счетчик подзадач */
.card-subtasks-counter {
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 11px;
  color: var(--color-subtasks-header);
  cursor: pointer;
  user-select: none;
  transition: color 0.2s ease;
  word-spacing: -0.2em;
}

.card-subtasks:hover .card-subtasks-counter {
  color: var(--color-subtasks-header-hover);
}

.card-subtasks-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-left: 0px;
  transition: transform 0.2s ease;
  color: var(--color-subtsask-header-arrow);
}

.card-subtasks-arrow svg {
  width: 100%;
  height: 100%;
  display: block;
}



/* Список подзадач */
.card-subtasks-list {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-subtasks-item {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 20px;
  cursor: pointer;
}

.card-subtasks-text {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-subtasks-item);
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration-color: transparent;
  text-decoration: underline;
  white-space: nowrap;
  flex: 1;
  transition: color 0.1s ease, text-decoration-color 0.1s ease;
}

.card-subtasks-item:hover .card-subtasks-text {
  color: var(--color-subtasks-item-hover);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-subtasks-item-underline-hover);
}

