.card-parent-note {
  background-color: var(--color-parent-note-bg);
  border-radius: 10px 0 0 10px;
  padding: 0px 7px 0px 5px;
  padding-right: 12px;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 16px;
  color: var(--color-parent-note-text);
  display: inline-block;
  width: fit-content;
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 10px) 100%, 0 100%);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.card-parent-note:hover {
  background-color: var(--color-parent-note-bg-hover);
  color: var(--color-parent-note-text-hover);
  cursor: pointer;
}