.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  transition: opacity 0.2s ease;
  flex-shrink: 0;
}

.card-checked {
  opacity: var(--card-checked-opacity, 1);
}

.card-divider {
  height: 1px;
  background-color: var(--color-border-dos);
  width: 100%;
  margin: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.card-main {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.card-parameters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  padding: 2px 0;
}

