.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  transition: opacity 0.2s ease;
}

.card-checked {
  opacity: var(--card-checked-opacity, 1);
}

.card-divider {
  height: 1px;
  background-color: var(--color-border-subtle);
  opacity: 0.7;
  width: 100%;
}

.card-main {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.card-parameters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  padding: 2px 0;
}

