.card-body {
  padding-top: 1px;
  padding-bottom: 2px;
}

.card-title {
  font-size: 14.5px;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-card-text);
  text-decoration: none;
  transition: color 0.2s ease;
}

.card:hover .card-title {
  color: var(--color-card-text-hover);
}
