.card-date {
  font-size: var(--size-date-font);
  line-height: normal;
  color: var(--color-date-text);
  white-space: nowrap;
  margin-left: 2px;
}

.card-date-overdue {
  color: var(--color-date-error);
}

