.sidebar {
  width: 240px;
  flex-shrink: 0;
  background-color: var(--color-bg-content-dos);
  border-right: 1px solid var(--color-column-outline);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar-content {
  padding: 20px;
}

.sidebar-placeholder {
  font-size: 14px;
  color: var(--color-text-tres);
}

